// @use '../mixins/rem';
@import '../mixins/rem';

.header {
	display: flex;
	background-color: var(--color-gray);
	padding: var(--gap);
	// padding: rem(16);
	align-items: center;
	flex-direction: column;
	&__logo {
		a {
			color: var(--color-white);
		}
	}
}
