@use './scss/variables/base';
@use './scss/mixins/_breakpoints' as *;
@use './scss/components/root';
@use './scss/components/header';
@use './scss/components/menu';
@use './scss/components/widget';
@use './scss/components/footer';
@import './scss/mixins/_rem';
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@700&family=Sora&display=swap');

body {
	line-height: var(--content-line-height);
	font-size: var(--font-baseline);
	background-color: var(--color-primary);
	font-family: var(--font-family-secondary);
	color: var(--color-black);
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

:is(h1, h2, h3, h4, h5, h6) {
	line-height: var(--header-line-height);
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: var(--font-family-primary);
	color: var(--color-black);
}

a {
	color: var(--color-gray);
	text-decoration: none;
	&:is(:hover, :focus) {
		text-decoration: underline;
	}
	// &:visited {
	// 	color: var(--color-secondary);
	// }
}

@each $header, $multiplier in base.$headers {
	h#{$header} {
		font-size: var(--h#{$header});
	}
}

.entry-content {
	padding: 1rem;
}
.content-wrap {
	padding: 1rem 2rem;
	max-width: 100ch;
	margin: 0 auto;
	flex: 1 1 auto;
	background-color: var(--color-secondary-transparent);
	box-shadow: 0 0 5px var(--color-black-transparent);
}

.wp-site-blocks {
	padding: rem(16);
}
