$cadet-grey: #93a3b1ff;
$canary: #f8f991ff;
$razzmic-berry: #8c5383ff;
$eerie-black: #171614ff;
$dark-jungle-green: #1e2019ff;

:root {
	--color-grey: $cadet-grey;
	--color-canary: $canary;
	--color-razzmic-berry: $razzmic-berry;
	--color-eerie-black: $eerie-black;
	--color-dark-jungle-green: $dark-jungle-green;
}
